body{
  /*color: #31aeff;*/
/*  圆圈选中颜色*/
/*  90a3b2 未选中字体颜色*/
/*  647f95 选中字体颜色*/
}
p,ul,li {
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
* {
  box-sizing: border-box;
}
.dis-flex {
  display: flex;
  align-items: center;
}
.hidden{
  display: none!important;
}
.white-space{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.wljc-box {
  position: relative;
  padding: 50px;
  width: 100%;
  height: auto;
}

.wljc-title {
  padding: 20px;
}

.wljc-title .title-font {
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  color: #edf8ff;
}
.wljc-title .head {
  color: #577f99;
}

.wljc-title .title-font img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  /*background: url("");*/
  background-size: cover;
}
.wljc-title .gd_left {
  background: url(../../webpage/jbhm/images/title1.png) no-repeat;
  width: 550px;
  height: 64px;
  line-height: 30px;
}

.wljc-dec {
  padding: 50px;
}
.dec-head {
  height: 34px;
  line-height: 34px;
  font-size: 34px;
  color: #edf8ff;
}
.dec-head img{
  margin-right: 10px;
  width: 48px;
  height: 36px;
}

/*dec-list*/
.dec-list{
  padding: 20px 66px;
}

.dec-list .item-head{
  margin-top: 20px;

  font-size: 26px;
  color: #9fbaca;
}
.dec-list .item-head .main,
.dec-list .item-main .item {
  display: flex;
  align-items: center;
}
.dec-list .item-font{
  display: flex;
  align-items: center;

  height: 50px;
  font-size: 30px;
  color: #edf8ff;
}
.dec-list .head-font-color{
  color: #a0b9ca;
}
.dec-list .item-head .main p{
  width: 40%;
}
.dec-list .item-head .main p:last-of-type{
  width: 20%;
}
.dec-list .item-main .item p{
  width: 40%;
}
.dec-list .item-main .item p:last-child{
  width: 20%;
}
.dec-list{}
.dec-list .item-main{
}

.wljc-list{
  /*padding: 38px 30px;*/
}
.wljc-list .ul-box:not(.first){
  /*margin-top: 24px;*/
}
.wljc-list .ul-box{
  position: relative;
  border-left: 6px solid #446d86;
}
.wljc-list .ul-box .ul-bg{
  padding: 0 0 0 40px;
}
.wljc-list .ul-box.active{
  /*padding-top: 20px;*/
}
.wljc-list .ul-box.active .block{
  display: block;
}
.wljc-list .ul-box .block{
  display: none;
}
.wljc-list .ul-box.active .hidden{
  display: none;
}
.wljc-list .ul-box.active .ul-bg{
  position: relative;
  margin-left: 4%;
  padding: 20px 30px;
  width: 96%;
}
.wljc-list .ul-box.bg .ul-bg:before{
  content: '';
  display: block;
  position: absolute;
  right: 100%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 18px solid rgba(17,34,17,.2);
  border-bottom: 10px solid transparent
}
.wljc-list .ul-box.bg .ul-bg{
  background: rgba(17,34,17,.2);
}
.wljc-list .ul-box.active .item-handle{
  padding: 0!important;
}
.wljc-list .ul-box .item-list{
  display: none;
  margin: 0 40px;
}
.wljc-list .ul-box.active .item-list{
  display: block;
}
.wljc-list .ul-box ul.active{
  display: block!important;
}
.wljc-list .ul-box .main{
  display: flex;
  align-items: center;
  height: 80px;
  /*padding: 0 50px;*/

  font-size: 24px;
  color: #ffe011;
}
.wljc-list .ul-box .main .dec-arrow{
  display: inline-block;
  margin-right: 10px;

  width: 28px;
  height: 22px;
  background: url("../../webpage/jbhm/images/right.png");
  background-size: cover;
}
.wljc-list .ul-box .main .dec-time{
  margin-right: 40px;
}
.wljc-list .ul-box .main .dec-word{
  margin: 0 10px;
}
.wljc-list .ul-box .main .dec{
  margin-left: 10px;
  color: #d6e5ef;
}
.dec-color{
  color: #d6e5ef!important;
}
.wljc-list .ul-box.active{
  position: relative;
}
.wljc-list .ul-box:last-of-type.active{
  border-left: none;
}

.wljc-list .ul-box.active ul{
  /*width: 95%;*/
  /*margin-left: 5%;*/
}
.wljc-list .ul-box.active:before{
  color: #d0dee7!important;
  border: 6px solid #31aeff!important;
}
.wljc-list .ul-box.first:before{
  top: 0!important;
}
.wljc-list .ul-box:before{
  content: '1';
  position: absolute;
  right: 97.9%;
  left: auto;
  top: 14px;

  width: 50px;
  height: 50px;
  border: 6px solid #456f89;
  border-radius: 50%;
  display: block;
  line-height: 50px;
  text-align: center;
  background: #0f4365;
  color: #90a3b2;
}
.wljc-list .ul-box:nth-of-type(1):before{
  content: '1';
}
.wljc-list .ul-box:nth-of-type(2):before{
  content: '2';
}
.wljc-list .ul-box:nth-of-type(3):before{
  content: '3';
}
.wljc-list .ul-box:nth-of-type(4):before{
  content: '4';
}
.wljc-list .ul-box:nth-of-type(5):before{
  content: '5';
}
.wljc-list .ul-box:nth-of-type(6):before{
  content: '6';
}
.wljc-list .ul-box:nth-of-type(7):before{
  content: '7';
}
.wljc-list .ul-box:nth-of-type(8):before{
  content: '8';
}
.item-handle{
  padding: 20px 0;
  justify-content: space-between;
}
.item-handle.bg{
  background-color: #104c73;
}
.item-handle .item-box .yuan{
  margin-right: 8px;
  width: 35px;
  height: 35px;
  background: url("../../webpage/jbhm/images/yuan.png");
  background-size: cover;
}
.item-list{
  margin-top: 20px;
}
.item-list .open{
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background: #1d92de;
  cursor: pointer;
  border-radius: 2%;
}
.ul-box.active .yuan{
  background: url("../../webpage/jbhm/images/yuan-active.png");
  background-size: cover;
}
.ul-box.active .item-title{
  color: #edf8ff!important;
}
.ul-box .item-title-color{
  display: none;
  color: #31beff;
}
.ul-box .time{
  visibility: hidden;
  width: 140px;
  color: #fff;
}
.ul-box .time .arrow-down{
  margin-left: 10px;
}
.ul-box.active .item-title-color{
  display: block;
}
.ul-box.active .time{
  visibility: visible;
}
.ul-box.active .arrow-up{
  display: none;
}
.item-title{
  margin-right: 16px;
  line-height: 30px;
  font-size: 30px;
  color: #90a3b2;
}
.arrow-up{
  width: 14px;
  height: 8px;
  background: url("../../webpage/jbhm/images/yuan.png");
  background-size: cover;
}
.arrow-down{
  width: 14px;
  height: 8px;
  background: url("../../webpage/jbhm/images/down.png");
  background-size: cover;
}
/* 4 */
.item-list .ysdx{
  padding-top: 20px;
  border-top: 2px solid #165d8b;
}

.item-list .ysdx .ysdx-head span{
  width: 33.33%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: #a0bdcf;
}
.item-list .ysdx .ysdx-main .main-item div{
  width: 33.33%;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  color: #edf8ff;
}
.item-list .ysdx .ysdx-main .main-item .item-right{
  justify-content: space-between;
}
.item-list .ysdx .ysdx-main .main-item .item-right .queren-button{
  display: block;
  width: 64px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: #1d92de;
}

/* fenye */
.paging{
  /*position: absolute;*/
  /*bottom: 30px;*/
  /*right: 50px;*/
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.paging .arrow{
  width: 194px;
  height: 64px;
  cursor: pointer;
}
.paging-arrow-up{
  margin-right: 16px;
}
.paging-arrow-up.disable{
  pointer-events: none;
  background: url("../../webpage/jbhm/images/arrow-up-disable.png");
  background-size: cover;
}
.paging-arrow-up.active{
  background: url("../../webpage/jbhm/images/arrow-up-active.png");
  background-size: cover;
}
.paging-arrow-down.disable{
  pointer-events: none;
  background: url("../../webpage/jbhm/images/arrow-down-disable.png");
  background-size: cover;
}
.paging-arrow-down.active{
  background: url("../../webpage/jbhm/images/arrow-down-active.png");
  background-size: cover;
}

/*智能预判*/
.znyp-list{
  position: relative;
  border-top: 2px solid rgba(28,94,135,.4);
  padding-top: 17px;
}
.znyp-list:before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 70px;
  height: 10px;
  background: url("../../webpage/jbhm/images/tixing.png");
  background-size:cover;
}
.znyp-list .show-head-wid{
}
.znyp-list .show-head-wid div{
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 24px;
  border: 2px solid rgba(22,106 ,158,.4);
}
.znyp-list .dis-flex div:not(.first){
  border-left: none!important;
}
.znyp-list .show-main-item div{
  border-top: none!important;
}
.znyp-list .show-head-wid div:nth-of-type(1),
.znyp-list .show-head-wid div:nth-of-type(2) {
  width: 30%;
}
.znyp-list .show-head-wid div:nth-of-type(3),
.znyp-list .show-head-wid div:nth-of-type(4) {
  width: 20%;
}
.znyp-list .show-main {
  color: #ffe011;
}